.record-container {
    display: flex;
}

.record-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding: 20px 20px 5px 5px;
    width: 100px;
    height: 70px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
} 

.record-items {
    padding: 0;
    margin: 0;
}

.list-container {
    display: flex;
    flex-direction: column;
}

td, th {
    text-align: left;
}